<!DOCTYPE html>
<html>
  <head>
    <title>Image Gallery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

     <!-- Font Awesome (public CDN)-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body class="is-preload-0 is-preload-1 is-preload-2">
    <!-- Main -->
    <div id="main">
      <!-- Header -->
      <header id="header">
        <h1>Image Gallery</h1>
        <p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
        <ul class="icons">
          <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
      </header>
      <!-- Thumbnail -->
      <%= yield %>
      <!-- Footer -->
      <footer id="footer">
        <ul class="copyright">
          <li>&copy; Untitled.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
        </ul>
      </footer>
    </div>

    <%# Scripts %>
    <%= javascript_include_tag "application"%>
    <%= javascript_include_tag "jquery.min.js"%>
    <%= javascript_include_tag "browser.min.js"%>
    <%= javascript_include_tag "breakpoints.min.js"%>
    <%= javascript_include_tag "main.js"%>


  </body>
</html>
